﻿@model List<SelectListItem>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reportes Spot</title>
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/sweetalert2.css">
    <link rel="stylesheet" href="~/css/material.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/main.js"></script>

    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
</head>
<body>
    <section class="full-width navLateral">
        <div class="full-width navLateral-bg btn-menu"></div>
        <div class="full-width navLateral-body">
            <div class="full-width navLateral-body-logo text-center tittles">
                <i class="zmdi zmdi-close btn-menu"></i> Super Admin
            </div>
            <figure class="full-width navLateral-body-tittle-menu">
                <div align="center">
                    <img src="~/img/martinrea-international-squarelogo-1534186740299.png" alt="Avatar" class="img-responsive">
                </div>

            </figure>
            <nav class="full-width">
                <ul class="full-width list-unstyle menu-principal">
                    <li class="full-width">
                        <a href=@Url.Action("IndexSuperAdmin","Home") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-view-dashboard"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                INICIO
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Celdas") class="full-width btn-subMenu">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-case"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                CELDAS
                            </div>
                        </a>
                    </li>

                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Plantas") class="full-width btn-subMenu">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-local-convenience-store"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                PLANTAS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">

                        <a href=@Url.Action("Index","Normas") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-balance"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                NORMAS
                            </div>
                        </a>
                    </li>


                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Turnoes") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-time"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                TURNO
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Categorias") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-label-alt"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                CATEGORIA
                            </div>
                        </a>
                    </li>

                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Clientes") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-accounts"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                CLIENTE
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Piezas") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-wrench"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                PIEZA
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","TipoCategorias") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-label-alt"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                TIPO CATEGORIA
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","TipoSoldaduras") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-wrench"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                TIPO SOLDADURA
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Reportes") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-assignment-returned"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                REPORTES SPOT
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","ReporteProyeccions") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-aspect-ratio-alt"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                REPORTES PROYECCION
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","ReporteMag") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-aspect-ratio"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                REPORTES MAG
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href=@Url.Action("Index","Emails") class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-account-box-phone"></i>
                            </div>
                            <div class="navLateral-body-cr">
                                NOTIFICAR
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <section class="full-width pageContent">
        <div class="full-width navBar">
            <div class="full-width navBar-options">
                <i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>
                <div class="mdl-tooltip" for="btn-menu">Mostrar Menú</div>
                <nav class="navBar-options-list">
                    <ul class="list-unstyle">



                        <li class="btn-exit" id="btn-exit">
                            <i class="zmdi zmdi-power"></i>
                            <a href=@Url.Action("Login","Home") class="mdl-tooltip" for="btn-exit">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="full-width header-well">
            <div class="full-width header-well-icon">
                <i class="zmdi zmdi-balance"></i>
            </div>
            <div class="full-width header-well-text">
                <p class="text-condensedLight">
                    Reportes Spot
                </p>
            </div>
        </section>
        <div class="full-width divider-menu-h"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Reporte
                    </div>
                    <div class="full-width panel-content">
                        <form>
                            <div class="mdl-grid">

                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Fecha Juliana</label>
                                        <input class="mdl-textfield__input" type="text" id="FechaJuliana" />
                                        <label class="mdl-textfield__label" for="FechaJuliana"></label>
                                        <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Fecha Prueba</label>

                                        <input class="mdl-textfield__input" type="date" id="FechaPrueba" />
                                        <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Celda</label>

                                        @Html.DropDownList("Celda_Id", ViewBag.regionsItems as List<SelectListItem>,
                                                           " -- Seleccionar Celda --", new { @class = "form-control" })
                                        <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Pieza</label>

                                        @Html.DropDownList("Pieza_Id", new List<SelectListItem>(), " -- Seleccionar Pieza --", new { @class = "form-control" })                                                <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>



                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Hora Inicio</label>

                                        <input class="mdl-textfield__input" type="time" id="HoraInicio" />
                                        <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label class="control-label col-md-2">Hora Fin</label>

                                        <input class="mdl-textfield__input" type="time" id="HoraFin" />
                                        <span class="mdl-textfield__error">Se requiere</span>
                                    </div>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label class="control-label col-md-2">Turno</label>

                                            @Html.DropDownList("Turno_Id", null, htmlAttributes: new { @id = "Turno_Id", @class = "form-control" })
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>


                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label class="control-label col-md-2">Cliente</label>

                                            @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @id = "Cliente_Id", @class = "form-control" })
                                            <span class="mdl-textfield__error">Invalid fax number</span>
                                        </div>
                                    </div>
                                   

                                }

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div class="full-width panel mdl-shadow--2dp">
            <div class="tabContainer">

            </div>
            <div class="tabs">
                <input type="checkbox" name="tab" id="tab1" checked="checked">
                <label for="tab1" style="font-size: 13px;">PRUEBA_DE_PUSH_OUT_TUERCA</label>
                <input type="checkbox" name="tab" id="tab2" checked="checked">
                <label for="tab2" style="font-size: 13px;">PRUEBA_DE_PUSH_OUT_TUERCA_CLINCHADA</label>
                <input type="checkbox" name="tab" id="tab3">
                <label for="tab3" style="font-size: 13px;">PRUEBA_DE_FUSION_STUD </label>
                <input type="checkbox" name="tab" id="tab4">
                <label for="tab4" style="font-size: 13px;">PRUEBA_ADHERENCIA_PROYECCION_SPOT</label>
                <input type="checkbox" name="tab" id="tab5">
                <label for="tab5" style="font-size: 13px;">DIAMETRO_DEL_BOTON_DE_SOLDADURA</label>

                <div class="tab-content-wrapper">
                    <div id="tab-content-1" class="tab-content">
                        <div class="full-width panel-content" style="background-image: linear-gradient(#7b7c7b,#ECF0F1 ); font-size: 15px; ">
                            <form>
                                <div class="mdl-grid">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Ensamble</h5>

                                                @Html.DropDownList("TipoCategoriaTamaño_Id", null, htmlAttributes: new { @id = "TipoCategoriaTamaño_Id", @class = "form-control" })
                                                <span class="mdl-textfield__error">Se requiere</span>
                                            </div>
                                        </div>

                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Minimo</h5>

                                                @Html.DropDownList("CategoriaTamaño_Id", null, htmlAttributes: new { @id = "CategoriaTamaño_Id", @class = "form-control" })
                                                <span class="mdl-textfield__error">Se requiere</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Inicio</h5>
                                            <input class="mdl-textfield__input" type="text" id="Inicio" />

                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>

                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <h5 class="control-label col-md-2" for="Final" style="font-size: 18px;">Final</h5>
                                            <input class="mdl-textfield__input" type="text" id="Final" />

                                            <span class="mdl-textfield__error">Se requiere</span>

                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <h5 class="control-label col-md-2" for="Intermediario" style="font-size: 18px;">Intermediario</h5>
                                            <input class="mdl-textfield__input" type="text" id="Intermediario" />


                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">


                                            <h5 class="control-label col-md-2" for="Gap" style="font-size: 18px;">Gap</h5>
                                            <input class="mdl-textfield__input" type="text" id="Gap" />

                                            <span class="mdl-textfield__error">Se requiere</span>

                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <h5 class="control-label col-md-2" for="Sin_Tuerca_Invertida" style="font-size: 18px;">Sin_Tuerca_Invertida</h5>
                                            <select name="Sin_Tuerca_Invertida" id="Sin_Tuerca_Invertida" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>

                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <h5 class="control-label col-md-2" for="Sin_Omision" style="font-size: 18px;">Sin_Omision</h5>
                                            <select name="Sin_Omision" id="Sin_Omision" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Tuerca_Desplazada</h5>

                                            <select name="Sin_Tuerca_Desplazada" id="Sin_Tuerca_Desplazada" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Erupciones</h5>
                                            <select name="Sin_Erupciones" id="Sin_Erupciones" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Fisuras</h5>
                                            <select name="Sin_Fisuras" id="Sin_Fisuras" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Rebabas</h5>
                                            <select name="Sin_Rebabas" id="Sin_Rebabas" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Perforacciones</h5>
                                            <select name="Sin_Perforacciones" id="Sin_Perforacciones" class="form-control">
                                                <option value="OK">OK
                                                <option value="NO OK">NO OK
                                            </select>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                            <input type="hidden" id="Tuercas" value="T0" disabled class="mdl-textfield__input" />

                                            <h5 class="mdl-textfield__label" for="Inicio_A1"></h5>
                                            <span class="mdl-textfield__error">Se requiere</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-center">
                                    <input type="button" value="Agregar" class="btn btn-outline-dark " id="add" onclick="buttonClick();">

                                </p>
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                        <div class="table-responsive">
                                            <div id="orderItems" class="tablecontainer">


                                                <table class=" full-width " id="myTable" style="font-family:'Times New Roman';">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                  
                        <div id="tab-content-2" class="tab-content">

                            <div id="tab-content-2" class="tab-content">
                                <div class="full-width panel-content" style="background-image: linear-gradient(#5D6D7E,#ECF0F1 ); font-size: 15px; ">
                                    <form>
                                        <div class="mdl-grid">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Ensamble</h5>

                                                        @Html.DropDownList("TipoCategoriaTamaño_Id2", null, htmlAttributes: new { @id = "TipoCategoriaTamaño_Id2", @class = "form-control" })
                                                        <span class="mdl-textfield__error">Se requiere</span>
                                                    </div>
                                                </div>

                                                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                        <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Minimo</h5>

                                                        @Html.DropDownList("CategoriaTamaño_Id2", null, htmlAttributes: new { @id = "CategoriaTamaño_Id2", @class = "form-control" })
                                                        <span class="mdl-textfield__error">Se requiere</span>
                                                    </div>
                                                </div>
                                            }
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <h5 class="control-label col-md-2" for="Inicio" style="font-size: 18px;">Inicio</h5>
                                                    <input class="mdl-textfield__input" type="text" id="Inicio2" />

                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>

                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <h5 class="control-label col-md-2" for="Final" style="font-size: 18px;">Final</h5>
                                                    <input class="mdl-textfield__input" type="text" id="Final2" />

                                                    <span class="mdl-textfield__error">Se requiere</span>

                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <h5 class="control-label col-md-2" for="Intermediario" style="font-size: 18px;">Intermediario</h5>
                                                    <input class="mdl-textfield__input" type="text" id="Intermediario2" />


                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">


                                                    <h5 class="control-label col-md-2" for="Gap" style="font-size: 18px;">Gap</h5>
                                                    <input class="mdl-textfield__input" type="text" id="Gap2" />

                                                    <span class="mdl-textfield__error">Se requiere</span>

                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <h5 class="control-label col-md-2" for="Sin_Tuerca_Invertida" style="font-size: 18px;">Sin_Tuerca_Invertida</h5>
                                                    <select name="Sin_Tuerca_Invertida" id="Sin_Tuerca_Invertida2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>

                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <h5 class="control-label col-md-2" for="Sin_Omision" style="font-size: 18px;">Sin_Omision</h5>
                                                    <select name="Sin_Omision" id="Sin_Omision2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Tuerca_Desplazada</h5>

                                                    <select name="Sin_Tuerca_Desplazada" id="Sin_Tuerca_Desplazada2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Erupciones</h5>
                                                    <select name="Sin_Erupciones" id="Sin_Erupciones2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Fisuras</h5>
                                                    <select name="Sin_Fisuras" id="Sin_Fisuras2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Rebabas</h5>
                                                    <select name="Sin_Rebabas" id="Sin_Rebabas2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <h5 class="control-label col-md-2" style="font-size: 18px;">Sin_Perforacciones</h5>
                                                    <select name="Sin_Perforacciones" id="Sin_Perforacciones2" class="form-control">
                                                        <option value="OK">OK
                                                        <option value="NO OK">NO OK
                                                    </select>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                                    <input type="hidden" id="Tuercas2" value="T0" disabled class="mdl-textfield__input" />

                                                    <h5 class="mdl-textfield__label" for="Inicio_A1"></h5>
                                                    <span class="mdl-textfield__error">Se requiere</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <input type="button" value="Agregar" class="btn btn-outline-dark " id="add2" onclick="buttonClick2();">

                                        </p>
                                        <div class="mdl-grid">
                                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                                <div class="table-responsive">
                                                    <div id="orderItems2" class="tablecontainer">


                                                        <table class=" full-width " id="myTable" style="font-family:'Times New Roman';">
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    

                </div>
                </div>
            </div>
<br /><br /><br />
        <p class="text-center">
            <input value="Enviar" id="submit" type="submit" class="btn btn-outline-dark " />

        </p>


    </section>

    
    @section Scripts{
        <script>
            var i = 0;
function buttonClick() {
    i++;
    document.getElementById('Tuercas').value = "T" + i;
}
var e = 0;
function buttonClick2() {
    e++;
    document.getElementById('Tuercas2').value = "T" + e;
}
var u = 0;
function buttonClick3() {
    u++;
    document.getElementById('Stud').value = "S" + u;
}
var o = 0;
function buttonClick4() {
    o++;
    document.getElementById('Tuercas3').value = "T" + o;
}
var v = 0;
function buttonClick5() {
    v++;
    document.getElementById('Punto').value = v + "(a,b)";
}
//Date Picker
function colorizeMe(element) {
    // Use the selected value to set hte color
    element.options[element.selectedIndex].style.backgroundColor
    element.setAttribute('style', 'background-color: ' + element.options[element.selectedIndex].style.backgroundColor + '!important;');
}

$(document).ready(function () {
    var orderItems = [];
    var orderItems2 = [];
    $('#add').click(function () {
        //Check validation of order item
        var isValidItem = true;
        if ($('#Tuercas').val().trim() == '') {
            isValidItem = false;
            $('#Tuercas').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Tuercas').siblings('span.error').css('visibility', 'hidden');
        }


        if (!($('#Inicio').val().trim() != '' && !isNaN($('#Inicio').val().trim()))) {
            isValidItem = false;
            $('#Inicio').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Inicio').siblings('span.error').css('visibility', 'hidden');
        }

        if (!($('#Final').val().trim() != '' && !isNaN($('#Final').val().trim()))) {
            isValidItem = false;
            $('#Final').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Final').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#CategoriaTamaño_Id').val().trim() != '' && !isNaN($('#CategoriaTamaño_Id').val().trim()))) {
            isValidItem = false;
            $('#CategoriaTamaño_Id').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#CategoriaTamaño_Id').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#TipoCategoriaTamaño_Id').val().trim() != '' && !isNaN($('#TipoCategoriaTamaño_Id').val().trim()))) {
            isValidItem = false;
            $('#TipoCategoriaTamaño_Id').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#TipoCategoriaTamaño_Id').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#Gap').val().trim() != '' && !isNaN($('#Gap').val().trim()))) {
            isValidItem = false;
            $('#Gap').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Gap').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Tuerca_Invertida').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Tuerca_Invertida').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Tuerca_Invertida').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Omision').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Omision').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Omision').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Tuerca_Desplazada').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Tuerca_Desplazada').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Tuerca_Desplazada').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Erupciones').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Erupciones').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Erupciones').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Fisuras').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Fisuras').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Fisuras').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Rebabas').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Rebabas').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Rebabas').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Perforacciones').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Perforacciones').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Perforacciones').siblings('span.error').css('visibility', 'hidden');
        }
        var Intermediario = document.getElementById("Intermediario").value | 0;


        if (isValidItem) {
            orderItems.push({

                Tuerca: $('#Tuercas').val().trim(),
                CategoriaTamaño_Id: parseInt($('#CategoriaTamaño_Id').val().trim()),
                TipoCategoriaTamaño_Id: parseInt($('#TipoCategoriaTamaño_Id').val().trim()),
                Inicio: parseInt($('#Inicio').val().trim()),
                Final: parseInt($('#Final').val().trim()),
                Intermediario: parseInt($('#Intermediario').val().trim()),
                Promedio: (parseInt($('#Inicio').val().trim()) +
                    parseInt($('#Final').val().trim()) +
                    Intermediario) * 100 / 3 / 100,
                Gap: parseFloat($('#Gap').val().trim()),
                Sin_Tuerca_Invertida: $('#Sin_Tuerca_Invertida').val().trim(),
                Sin_Omision: $('#Sin_Omision').val().trim(),
                Sin_Tuerca_Desplazada: $('#Sin_Tuerca_Desplazada').val().trim(),
                Sin_Erupciones: $('#Sin_Erupciones').val().trim(),
                Sin_Fisuras: $('#Sin_Fisuras').val().trim(),
                Sin_Rebabas: $('#Sin_Rebabas').val().trim(),
                Sin_Perforacciones: $('#Sin_Perforacciones').val().trim()

            });

            //Clear fields


            $('#Gap').val('');

            $('#Tuercas').val('');
            $('#Inicio').val('');

            $('#Final').val('');
            $('#Intermediario').val('');
        }
        GeneratedItemsTable();


    });
    $('#add2').click(function () {
        //Check validation of order item
        var isValidItem = true;
        if ($('#Tuercas2').val().trim() == '') {
            isValidItem = false;
            $('#Tuercas2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Tuercas2').siblings('span.error').css('visibility', 'hidden');
        }


        if (!($('#Inicio2').val().trim() != '' && !isNaN($('#Inicio2').val().trim()))) {
            isValidItem = false;
            $('#Inicio2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Inicio2').siblings('span.error').css('visibility', 'hidden');
        }

        if (!($('#Final2').val().trim() != '' && !isNaN($('#Final2').val().trim()))) {
            isValidItem = false;
            $('#Final2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Final2').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#CategoriaTamaño_Id2').val().trim() != '' && !isNaN($('#CategoriaTamaño_Id2').val().trim()))) {
            isValidItem = false;
            $('#CategoriaTamaño_Id2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#CategoriaTamaño_Id2').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#TipoCategoriaTamaño_Id2').val().trim() != '' && !isNaN($('#TipoCategoriaTamaño_Id2').val().trim()))) {
            isValidItem = false;
            $('#TipoCategoriaTamaño_Id2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#TipoCategoriaTamaño_Id2').siblings('span.error').css('visibility', 'hidden');
        }
        if (!($('#Gap2').val().trim() != '' && !isNaN($('#Gap2').val().trim()))) {
            isValidItem = false;
            $('#Gap2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Gap2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Tuerca_Invertida2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Tuerca_Invertida2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Tuerca_Invertida2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Omision2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Omision2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Omision2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Tuerca_Desplazada2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Tuerca_Desplazada2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Tuerca_Desplazada2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Erupciones2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Erupciones2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Erupciones2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Fisuras2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Fisuras2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Fisuras2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Rebabas2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Rebabas2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Rebabas2').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Sin_Perforacciones2').val().trim() == '') {
            isValidItem = false;
            $('#Sin_Perforacciones2').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Sin_Perforacciones2').siblings('span.error').css('visibility', 'hidden');
        }
        var Intermediario = document.getElementById("Intermediario2").value | 0;


        if (isValidItem) {
            orderItems2.push({

                Tuerca: $('#Tuercas2').val().trim(),
                CategoriaTamaño_Id2: parseInt($('#CategoriaTamaño_Id2').val().trim()),
                TipoCategoriaTamaño_Id2: parseInt($('#TipoCategoriaTamaño_Id2').val().trim()),
                Inicio: parseInt($('#Inicio2').val().trim()),
                Final: parseInt($('#Final2').val().trim()),
                Intermediario: parseInt($('#Intermediario2').val().trim()),
                Promedio: ((parseInt($('#Inicio2').val().trim()) +
                    parseInt($('#Final2').val().trim()) +
                    Intermediario) * 100 / 3 / 100).toFixed(2),
                Gap: parseFloat($('#Gap2').val().trim()),
                Sin_Tuerca_Invertida: $('#Sin_Tuerca_Invertida2').val().trim(),
                Sin_Omision: $('#Sin_Omision2').val().trim(),
                Sin_Tuerca_Desplazada: $('#Sin_Tuerca_Desplazada2').val().trim(),
                Sin_Erupciones: $('#Sin_Erupciones2').val().trim(),
                Sin_Fisuras: $('#Sin_Fisuras2').val().trim(),
                Sin_Rebabas: $('#Sin_Rebabas2').val().trim(),
                Sin_Perforacciones: $('#Sin_Perforacciones2').val().trim()

            });

            //Clear fields


            $('#Gap2').val('');

            $('#Tuercas2').val('');
            $('#Inicio2').val('');

            $('#Final2').val('');
            $('#Intermediario2').val('');
        }
        GeneratedItemsTable2();


    });

    if (document.getElementById('tab1').checked == true ) {

        //Save button click function
        $('#submit').click(function () {
            //validation of order
            var isAllValid = true;
      

            if ($('#FechaJuliana').val().trim() == '') {
                $('#FechaJuliana').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#FechaJuliana').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#HoraInicio').val().trim() == '') {
                $('#HoraInicio').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#HoraInicio').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#HoraFin').val().trim() == '') {
                $('#HoraFin').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#HoraFin').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#FechaPrueba').val().trim() == '') {
                $('#FechaPrueba').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#FechaPrueba').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Turno_Id').val().trim() != '' && !isNaN($('#Turno_Id').val().trim()))) {
                isValidItem = false;
                $('#Turno_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Turno_Id').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Cliente_Id').val().trim() != '' && !isNaN($('#Cliente_Id').val().trim()))) {
                isValidItem = false;
                $('#Cliente_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Cliente_Id').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Celda_Id').val().trim() != '' && !isNaN($('#Celda_Id').val().trim()))) {
                isValidItem = false;
                $('#Celda_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Celda_Id').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Pieza_Id').val().trim() != '' && !isNaN($('#Pieza_Id').val().trim()))) {
                isValidItem = false;
                $('#Pieza_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Pieza_Id').siblings('span.error').css('visibility', 'hidden');
            }
            var nombre = '@Session["nombre"].ToString()';
            var apellidos = '@Session["apellidos"].ToString()';
            //Save if valid
            if (isAllValid) {
                var data = {
                    FechaJuliana: $('#FechaJuliana').val().trim(),
                    FechaPrueba: $('#FechaPrueba').val().trim(),
                    Turno_Id: $('#Turno_Id').val().trim(),
                    Celda_Id: $('#Celda_Id').val().trim(),
                    Pieza_Id: $('#Pieza_Id').val().trim(),
                    Usuarios: nombre + " " + apellidos,
                    Cliente_Id: $('#Cliente_Id').val().trim(),
                    HoraInicio: $('#HoraInicio').val().trim(),
                    HoraFin: $('#HoraFin').val().trim(),
                    Estado: "OK",
                    EstadoGeneral: "En proceso",
                    prueba_Push_TuercaSpots: orderItems

                }

                $(this).val('Please wait...');

                $.ajax({
                    url: '/Reportes/SaveOrder',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert('Successfully done.');
                            window.location.href = 'Index'
                            //clear form
                            orderItems = [];
                            $('#FechaJuliana').val('');
                            $('#FechaPrueba').val('');
                            $('#orderItems').empty();

                        }
                        else {
                            alert('Failed');
                        }
                        $('#submit').val('Save');

                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            }

        });
    } else if (document.getElementById('tab2').checked == true ) {

        //Save button click function
        $('#submit').click(function () {
            //validation of order
            var isAllValid = true;
            
            if ($('#FechaJuliana').val().trim() == '') {
                $('#FechaJuliana').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#FechaJuliana').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#HoraInicio').val().trim() == '') {
                $('#HoraInicio').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#HoraInicio').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#HoraFin').val().trim() == '') {
                $('#HoraFin').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#HoraFin').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#FechaPrueba').val().trim() == '') {
                $('#FechaPrueba').siblings('span.error').css('visibility', 'visible');
                isAllValid = false;
            }
            else {
                $('#FechaPrueba').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Turno_Id').val().trim() != '' && !isNaN($('#Turno_Id').val().trim()))) {
                isValidItem = false;
                $('#Turno_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Turno_Id').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Cliente_Id').val().trim() != '' && !isNaN($('#Cliente_Id').val().trim()))) {
                isValidItem = false;
                $('#Cliente_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Cliente_Id').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Celda_Id').val().trim() != '' && !isNaN($('#Celda_Id').val().trim()))) {
                isValidItem = false;
                $('#Celda_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Celda_Id').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Pieza_Id').val().trim() != '' && !isNaN($('#Pieza_Id').val().trim()))) {
                isValidItem = false;
                $('#Pieza_Id').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Pieza_Id').siblings('span.error').css('visibility', 'hidden');
            }
            var nombre = '@Session["nombre"].ToString()';
            var apellidos = '@Session["apellidos"].ToString()';
            //Save if valid
            if (isAllValid) {
                var data = {
                    FechaJuliana: $('#FechaJuliana').val().trim(),
                    FechaPrueba: $('#FechaPrueba').val().trim(),
                    Turno_Id: $('#Turno_Id').val().trim(),
                    Celda_Id: $('#Celda_Id').val().trim(),
                    Pieza_Id: $('#Pieza_Id').val().trim(),
                    Usuarios: nombre + " " + apellidos,
                    Cliente_Id: $('#Cliente_Id').val().trim(),
                    HoraInicio: $('#HoraInicio').val().trim(),
                    HoraFin: $('#HoraFin').val().trim(),
                    Estado: "OK",
                    EstadoGeneral: "En proceso",
                    prueba_Push_Tuerca_ClinchadoSpots: orderItems2

                }

                $(this).val('Please wait...');

                $.ajax({
                    url: '/Reportes/SaveOrder',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert('Successfully done.');
                            window.location.href = 'Index'
                            //clear form
                            orderItems2 = [];
                            $('#FechaJuliana').val('');
                            $('#FechaPrueba').val('');
                            $('#orderItems2').empty();

                        }
                        else {
                            alert('Failed');
                        }
                        $('#submit').val('Save');

                    },
                    error: function () {
                        alert('Error. Please try again.');
                        $('#submit').val('Save');
                    }
                });
            }

        });
    }
    //function for show added items in table
    function GeneratedItemsTable() {
        if (orderItems.length > 0) {
            var $table = $('<table/>');
            $table.append('<thead style="background: #5a748d;"><tr><th >Tuerca</th><th>Tamaño</th><th>Minimo</th><th>Inicio</th><th>Final</th><th>Intermediario</th><th>Promedio</th><th>Gap</th><th>Sin_Tuerca_Invertida</th><th>Sin_Omision</th><th>Sin_Tuerca_Desplazada</th><th>Sin_Erupciones</th><th>Sin_Fisuras</th><th>Sin_Rebabas</th><th>Sin_Perforacciones</th><th>Eliminar</th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(orderItems, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Tuerca));
                $row.append($('<td/>').html(val.CategoriaTamaño_Id));
                $row.append($('<td/>').html(val.TipoCategoriaTamaño_Id));
                $row.append($('<td/>').html(val.Inicio));
                $row.append($('<td/>').html(val.Final));
                $row.append($('<td/>').html(val.Intermediario));
                $row.append($('<td/>').html(val.Promedio));
                $row.append($('<td/>').html(val.Gap));
                $row.append($('<td/>').html(val.Sin_Tuerca_Invertida));
                $row.append($('<td/>').html(val.Sin_Omision));
                $row.append($('<td/>').html(val.Sin_Tuerca_Desplazada));
                $row.append($('<td/>').html(val.Sin_Erupciones));
                $row.append($('<td/>').html(val.Sin_Fisuras));
                $row.append($('<td/>').html(val.Sin_Rebabas));
                $row.append($('<td/>').html(val.Sin_Perforacciones));

                var $remove = $('<a href="#">Remove</a>');
                $remove.click(function (e) {
                    e.preventDefault();
                    orderItems.splice(i, 1);
                    GeneratedItemsTable();
                });
                $row.append($('<td/>').html($remove));
                $tbody.append($row);
            });
            console.log("current", orderItems);
            $table.append($tbody);
            $('#orderItems').html($table);
        }
        else {
            $('#orderItems').html('');
        }
    }
    function GeneratedItemsTable2() {
        if (orderItems2.length > 0) {
            var $table = $('<table/>');
            $table.append('<thead style="background: #5a748d;"><tr><th >Tuerca</th><th>Tamaño</th><th>Minimo</th><th>Inicio</th><th>Final</th><th>Intermediario</th><th>Promedio</th><th>Gap</th><th>Sin_Tuerca_Invertida</th><th>Sin_Omision</th><th>Sin_Tuerca_Desplazada</th><th>Sin_Erupciones</th><th>Sin_Fisuras</th><th>Sin_Rebabas</th><th>Sin_Perforacciones</th><th>Eliminar</th></tr></thead>');
            var $tbody = $('<tbody/>');
            $.each(orderItems2, function (i, val) {
                var $row = $('<tr/>');
                $row.append($('<td/>').html(val.Tuerca));
                $row.append($('<td/>').html(val.CategoriaTamaño_Id2));
                $row.append($('<td/>').html(val.TipoCategoriaTamaño_Id2));
                $row.append($('<td/>').html(val.Inicio));
                $row.append($('<td/>').html(val.Final));
                $row.append($('<td/>').html(val.Intermediario));
                $row.append($('<td/>').html(val.Promedio));
                $row.append($('<td/>').html(val.Gap));
                $row.append($('<td/>').html(val.Sin_Tuerca_Invertida));
                $row.append($('<td/>').html(val.Sin_Omision));
                $row.append($('<td/>').html(val.Sin_Tuerca_Desplazada));
                $row.append($('<td/>').html(val.Sin_Erupciones));
                $row.append($('<td/>').html(val.Sin_Fisuras));
                $row.append($('<td/>').html(val.Sin_Rebabas));
                $row.append($('<td/>').html(val.Sin_Perforacciones));

                var $remove = $('<a href="#">Remove</a>');
                $remove.click(function (e) {
                    e.preventDefault();
                    orderItems2.splice(i, 1);
                    GeneratedItemsTable2();
                });
                $row.append($('<td/>').html($remove));
                $tbody.append($row);
            });
            console.log("current", orderItems2);
            $table.append($tbody);
            $('#orderItems2').html($table);
        }
        else {
            $('#orderItems2').html('');
        }
    }

});

          
        </script>
        <script>
            $(document).ready(function () {
                $("#Celda_Id").change(function () {
                    $.get("/Reportes/GetTerritoriesList", { Celda_Id: $("#Celda_Id").val() }, function (data) {
                        $("#Pieza_Id").empty();
                        $("#Pieza_Id").append("<option value> -- Seleccionar Pieza de " + $("#Celda_Id option:selected").text() + " --</option>")
                        $.each(data, function (index, row) {
                            $("#Pieza_Id").append("<option value='" + row.Id + "'>" + row.Modelo + "</option>")
                        });
                    });
                });
            });
        </script>
       
    }

    <style>
        /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }


        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: left;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }

        .title {
            font-family: sans-serif;
            color: #dc2d5e;
            text-align: center;
        }

        .tabs {
        }

            .tabs input[type=checkbox] {
                display: none;
            }

            .tabs label {
                transition: background 0.4s ease-in-out, height 0.2s linear;
                display: inline-block;
                cursor: pointer;
                color: #2EBEB9;
                width: 50%;
                height: 3em;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                background: #FCFCFC;
                text-align: center;
                line-height: 3em;
            }

                .tabs label:last-of-type {
                    border-bottom: none;
                }

                .tabs label:hover {
                    background: #259692;
                    color: #ffffff;
                }

        @@media screen and (max-width: 1600px) {
            .tabs label {
                width: 28%;
            }
        }

        @@media screen and (max-width: 900px) {
            .tabs label {
                width: 50%;
            }
        }

        @@media screen and (max-width: 600px) {
            .tabs label {
                width: 100%;
                display: block;
                border-bottom: 2px solid #C7C6C4;
                border-radius: 0;
            }
        }

        @@media screen and (max-width: 600px) {
            .tabs {
                margin: 0;
            }
        }

        #tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label, #tab5:checked + label {
            background: #2EBEB9;
            color: #FFFFFF;
        }

        .tab-content {
            position: absolute;
            top: -9999px;
            padding: 10px;
        }

        .tab-content-wrapper {
            background: #FCFCFC;
            border-top: #2EBEB9 5px solid;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        @@media screen and (max-width: 600px) {
            .tab-content-wrapper, .tab1-content-wrapper {
                border: none;
                border-radius: 0;
            }
        }

        #tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4, #tab5:checked ~ .tab-content-wrapper #tab-content-5 {
            position: relative;
            top: 0px;
        }
    </style>



</body>
</html>
